ul {
    padding:0;
    margin:0;
    text-align: center;
    list-style: none inside;
}

a{        text-decoration: none; }
a:hover { text-decoration: underline; }

/* Center Block */
#main {
    position: absolute;
    left: 12%;
    top: 0;
    width: 88%;
    border: 0;
    padding: 0;
    margin: 0;
}

/* Body */
#body{
    position: absolute;
    left: 0;
    top: 3em;
    width: 100%
}

#ShowInformation tr.Info{
    background: #222;
    color: #ddd;
}

#ShowInformation tr.Show:Hover{
    background: #ddd;
    color: #222;
}

#body table{
    width: 75%;
}

/* Info Bar*/
#infobar {
    position: absolute;
    left: 0;
    top: 0;
    height: 1em;
    border: 0;
    padding: 0.5em 0;
    width: 100%;
    background: #888;
    color: #000;
}

#infobar ul{
    float: right;
    white-space: nowrap;
}

#infobar ul li{
    display: inline;
    padding: .2em 1em;
}

#infobar ul li a{        color: #000; }
#infobar ul li a:hover { color: #fff; }


/* sidebar */
#sidebar{
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 12%;
    z-index: 2;
    height: 100%;
    background: #000;
}

#sidebar p{
    color: #fff;
    text-align: center;
}

#sidebar p a{              color: #aaa; }
#sidebar p a:hover {       color: #ddd; }
#sidebar ul li.inactive a{ color: #666; }
#sidebar ul li.active a{   color: #ddd; }

#sidebar ul li a:hover {
    color: #aaa;
    text-decoration: none;
}
