html { font-family: sans-serif; }

ul {
    padding:0;
    list-style-type: none;
}

a{        text-decoration: none; }
a:hover { text-decoration: underline; }

/* Center Block */
#main {
    position: absolute;
    left: 15%;
    width: 85%;
}

/* Body */
#ShowInformation{
    margin-top: 1em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#ShowInformation tr td{
    border-width: .25em;
    padding: .5em;
    border-style: none;
}

#ShowInformation tr.Infoa td, #ShowInformation tr.Infob td{
    background: #000;
    color: #ccc;
    border-style: outset;
    font-size: 1.25em;
    font-weight: bold;
    font-family: serif;
    padding: .25em;
}

#ShowInformation tr.Infoa td:Hover {
    background: #ddd;
    border-style: inset;
    color: #222;
}

#ShowInformation tr.Infoa td:Active {
    background: #FFF;
    border-style: inset;
    color: #888;
}

#ShowInformation tr.Show:Hover {
    background: #bbb;
    color: #222;
}

a img { border: none; }

/* sidebar */
#sidebar{
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: #eef;
    text-align: center;
}

#infobar { margin-top: 5em;}
#infobar ul li{         padding: .2em 1em; }
#infobar ul li a{        color: #555; }
#infobar ul li a:hover { color: #000; }

#userinfo p a{                       color: #555; }
#userinfo p a:hover {                color: #000; }

#channelinfo ul li.inactive a{          color: #aaa; }
#channelinfo ul li.active a{            color: #000; }
#channelinfo ul li a:hover {            color: #555; }
#channelinfo ul li.inactive a:active {  color: #222; }
#channelinfo ul li.active a:active {    color: #888; }
